template(name="join_group")
  h2 Create a group
  form(id="form_join_group")
    fieldset
      label(for="input_group_name") Your Group Name:
      input(id="input_group_name", placeholder="Your Group Name", type="text") 
   