template(name="signup")
  h2 New here? Sign up!
  form(id="signup")
    fieldset(id="set_name")
      label(for="input_name") Your name:
      input(id="input_name" type="text")
    fieldset(id="set_email")
      label(for="input_email") Your email:
      input(id="input_email" type="email")
    fieldset(id="set_password")
      label(for="input_password") Your password:
      input(id="input_password" type="password")
    button(type="submit") Submit