template(name="signin")
  h2 Been here before? Sign in!
  form(id="signin")
    fieldset(id="set_email")
      label(for="input_email_in") Your email:
      input(id="input_email_in" type="email")
    fieldset(id="set_password")
      label(for="input_password_in") Your password:
      input(id="input_password_in" type="password")
    button(type="submit") Submit